PLUGINS monitoring_hists,ReactionFilter

#Ncores if you want to use all of the hyperthreads available (only use if you have the whole node!)
NTHREADS 12

#MONITOR:MEMORY_EVENTS 1100000

#Limit number of neurals
COMBO:MAX_NEUTRALS 15

#REST:DATAVERSIONSTRING recon_RunPeriod-2017-01_ver01
#ANALYSIS:DATAVERSIONSTRING analysis_RunPeriod-2017-01_ver05

#JANA_CALIB_CONTEXT variation=default calibtime=2017-09-13-16-27-00     #calibtime=YYYY-MM-DD-hh-mm-ss (hr is 24-hr format)

REACTIONFILTER:KINFIT_CHIS_CUT  50.
REACTIONFILTER:FLIGHTSIG_CUT    2.

Reaction1 1_14__9_11_16_14
Reaction1:Flags B4_M16
